Repository jvalentini/speak-strong: changes, and which lefthook commands are due for each by the changed paths.
All: biome, oxlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: "*.{ts,json}"
      run: bunx biome check --no-errors-on-unmatched {staged_files}
      stage_fixed: true

    oxlint:
      glob: "*.ts"
      run: bunx oxlint {staged_files}

pre-push:
  commands:
    typecheck:
      glob: "*.ts"
      run: bunx tsc --noEmit

    test:
      glob: "*.ts"
      run: bun test

docs: add roadmap for interactive, watch, history, and VS Code extension
  docs/ROADMAP.md
Due: none

chore: replace release-please with Makefile release commands
  .github/workflows/release-please.yml
  Makefile
Due: none

chore: bump version to v0.2.0
  package.json
Due: biome

feat: add interactive mode (-i/--interactive)
  README.md
  speak-strong.ts
  src/lib/interactive.ts
  src/lib/reporter.ts
  src/types/index.ts
  tests/interactive.test.ts
Due: biome, oxlint

feat: add watch mode (-w/--watch)
  README.md
  speak-strong.ts
  src/lib/watcher.ts
  src/types/index.ts
Due: biome, oxlint

feat: add history tracking and undo functionality
  README.md
  docs/examples/client-proposal-strong.txt
  docs/examples/email-followup-strong.txt
  speak-strong.ts
  src/lib/history.ts
  src/lib/interactive.ts
  src/lib/replacer.ts
  src/types/index.ts
  tests/history.test.ts
  tests/interactive.test.ts
  tests/replacer.test.ts
Due: biome, oxlint

chore: bump version to v0.3.0
  package.json
Due: biome

feat: improve interactive mode hotkey visibility with brackets and colors
  src/lib/interactive.ts
Due: biome, oxlint

feat: show replacements section in interactive mode output
  src/lib/reporter.ts
Due: biome, oxlint

feat: show skipped replacements in interactive mode output
  src/lib/reporter.ts
Due: biome, oxlint

chore: bump version to v0.4.0
  package.json
Due: biome

feat: replace regex-based matching with tokenizer and rule engine
  src/lib/replacer.ts
  src/lib/rule-engine.ts
  src/lib/tokenizer.ts
  tests/replacer.test.ts
  tests/rule-engine.test.ts
  tests/tokenizer.test.ts
Due: biome, oxlint

refactor: restructure rules.json by strictness level
  src/data/rules.json
  src/lib/replacer.ts
  src/lib/rule-engine.ts
  src/types/index.ts
  tests/rule-engine.test.ts
Due: biome, oxlint

chore: bump version to v1.0.0
  package.json
Due: biome

feat: prevent tagging on feature branches
  Makefile
Due: none

feat: add tokenizer and rules engine with restructured rules.json (#1)
  Makefile
  package.json
  src/data/rules.json
  src/lib/replacer.ts
  src/lib/rule-engine.ts
  src/lib/tokenizer.ts
  src/types/index.ts
  tests/replacer.test.ts
  tests/rule-engine.test.ts
  tests/tokenizer.test.ts
Due: biome, oxlint

feat: add GitHub Actions CI workflow with coverage reporting
  .github/workflows/ci.yml
Due: none

feat: add Zod validation for rules.json and centralized config
  bun.lock
  package.json
  src/data/config.json
  src/utils/config.ts
  src/utils/schemas.ts
Due: biome, oxlint

refactor: use config values and validate rules on load
  src/lib/history.ts
  src/lib/replacer.ts
  src/lib/watcher.ts
Due: biome, oxlint

test: add tests for config and schema validation
  tests/config.test.ts
  tests/history.test.ts
  tests/schemas.test.ts
Due: biome, oxlint

chore: add coverage make targets
  Makefile
Due: none

fix: correct coverage extraction to use line coverage column
  .github/workflows/ci.yml
Due: none

Add CI/CD, test coverage, and rules validation (#2)
  .github/workflows/ci.yml
  Makefile
  bun.lock
  package.json
  src/data/config.json
  src/lib/history.ts
  src/lib/replacer.ts
  src/lib/watcher.ts
  src/utils/config.ts
  src/utils/schemas.ts
  tests/config.test.ts
  tests/history.test.ts
  tests/schemas.test.ts
Due: biome, oxlint

chore: bump version to v2.0.0
  package.json
Due: biome

feat: add curl-installable binary distribution
  .github/workflows/release.yml
  .gitignore
  Makefile
  README.md
  install.sh
Due: none

feat: add curl-installable binary distribution (#3)
  .github/workflows/release.yml
  .gitignore
  Makefile
  README.md
  install.sh
Due: none

chore: bump version to v2.1.0
  package.json
Due: biome

fix: use macos-15-large runner for darwin-x64 builds
  .github/workflows/release.yml
Due: none

fix: update release workflow for 2025 best practices
  .github/workflows/release.yml
Due: none

fix: update release workflow for 2025 best practices (#5)
  .github/workflows/release.yml
Due: none

chore: bump version to v2.2.0
  package.json
Due: biome

fix: use cross-compilation on ubuntu-latest for all builds
  .github/workflows/release.yml
  Makefile
  package.json
Due: biome

fix: use cross-compilation on ubuntu-latest for all builds (#6)
  .github/workflows/release.yml
  Makefile
  package.json
Due: biome

chore: bump version to v2.3.0
  package.json
Due: biome

docs: add badges to README
  README.md
Due: none

feat(core): extract shared library for text analysis
  packages/core/package.json
  packages/core/src/data/rules.json
  packages/core/src/index.ts
  packages/core/src/rule-engine.ts
  packages/core/src/tokenizer.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
Due: biome, oxlint

refactor(cli): move CLI tool to packages/cli
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/data/config.json
  packages/cli/src/lib/history.ts
  packages/cli/src/lib/interactive.ts
  packages/cli/src/lib/replacer.ts
  packages/cli/src/lib/reporter.ts
  packages/cli/src/lib/watcher.ts
  packages/cli/src/types.ts
  packages/cli/src/utils/colors.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/errors.ts
  packages/cli/src/utils/file.ts
  packages/cli/src/utils/logger.ts
  packages/cli/src/utils/schemas.ts
  packages/cli/tests/cli.test.ts
  packages/cli/tests/config.test.ts
  packages/cli/tests/history.test.ts
  packages/cli/tests/interactive.test.ts
  packages/cli/tests/replacer.test.ts
  packages/cli/tests/reporter.test.ts
  packages/cli/tests/rule-engine.test.ts
  packages/cli/tests/schemas.test.ts
  packages/cli/tests/tokenizer.test.ts
  packages/cli/tsconfig.json
  src/data/rules.json
  src/lib/replacer.ts
  src/lib/rule-engine.ts
  src/lib/tokenizer.ts
Due: biome, oxlint

build: configure bun workspace for monorepo
  bun.lock
  package.json
  tsconfig.json
Due: biome

feat(outlook): add Microsoft Outlook add-in for email analysis
  packages/outlook/assets/icon-128.png
  packages/outlook/assets/icon-16.png
  packages/outlook/assets/icon-32.png
  packages/outlook/assets/icon-64.png
  packages/outlook/assets/icon-80.png
  packages/outlook/assets/icon.svg
  packages/outlook/commands.html
  packages/outlook/index.html
  packages/outlook/manifest.json
  packages/outlook/manifest.xml
  packages/outlook/package.json
  packages/outlook/scripts/create-dev-manifest.ts
  packages/outlook/scripts/deploy-windows.ts
  packages/outlook/scripts/start-dev.ts
  packages/outlook/src/commands/commands.ts
  packages/outlook/src/taskpane/App.tsx
  packages/outlook/src/taskpane/index.tsx
  packages/outlook/src/taskpane/styles.css
  packages/outlook/taskpane.html
  packages/outlook/tsconfig.json
  packages/outlook/tsconfig.node.json
  packages/outlook/vite.config.ts
Due: biome, oxlint
